@keyframes pulse {
  from {
    box-shadow: 0 0 0 0px rgba($brand-primary, 0.5);
  }

  to {
    box-shadow: 0 0 0 6px rgba($brand-primary, 0.5);
  }
}

.dot {
  position: absolute;
  height: 24px;
  width: 24px;
  border: .1em solid $brand-primary;
  border-radius: 50%;
  background: #303030;
  color: #fff;
  text-align: center;
  font-weight: 600;

  animation-name: pulse;
  animation-duration: 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;

  &:hover {
    cursor: pointer;
    background: orange;
  }

  .amount {
    pointer-events: none;
  }

  article {
    top: 0;
    max-height: 500px;
    width: 100%;
    overflow-y: auto;
  }

  .textarea {
    position: relative;
    width: 300px;
  }

  .remove {
    position: absolute;
    right: 16px;
    top: 16px;
    border: 0;
    width: 24px;
    height: 24px;
    z-index: 2;
    background-color: transparent;
    background-image: url("/images/trash.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }


  textarea {
    padding: 1rem;
    background: #F8EC93;
    font-size: 1rem;
    width: 100%;
    height: 200px;
    border: 0;
    display: block;
    box-shadow: 3px 5px 5px 0 rgba(0,0,0,0.1);
    border-radius: 3px;
    margin-bottom: 1rem;
  }

  .add {
    width: 100%;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 3px 5px 5px 0 rgba(0,0,0,0.1);
    background: $brand-primary;
    color: #fff;
    padding: 8px 0;

    &:hover {
      background: darken($brand-primary, 5%);
    }
  }

  &.active {
    background: $brand-primary;

    .noteBox {
      display: flex;
      position: absolute;
      left: 36px;
      top: 0;
      z-index: 2;
    }
  }

  .noteBox {
    display: none;
  }
}