<section class="feed">
  <nav class="sidebar">
    <h2>Categories</h2>
    <ul>
    </ul>
    <button class="newCategory">New category</button>
  </nav>
  <main class="timeline">
    <form action="#">
      <fieldset>
        <div class="inputGroup">
          <label for="description">Description</label>
          <textarea id="description" cols="30" rows="2" placeholder="Type here..."></textarea>
        </div>
      </fieldset>
      <fieldset class="footer">
        <div>
          <div class="inputGroup">
            <details>
              <summary>Select category</summary>
              <div class="categories">
              </div>
            </details>
          </div>
          <button type="button">Attach file</button>
          <button type="submit">Post</button>
        </div>
      </fieldset>
    </form>
    <div class="articles">
      <article>
        <header>
          <img src="images/photo2.png" alt="">
        </header>
        <footer>
          <img src="images/avatar@2x.png" alt="">
          <div class="content">
            <time>18-05-2018 12:41</time>
            <p>Presentation
              <span class="hashtag">#hackathon</span>
            </p>
          </div>
          <img src="images/icon-photo.svg" alt="" class="icon">
        </footer>
      </article>
      <article>
        <header>
          <img src="images/photo.jpg" alt="">
        </header>
        <footer>
          <img src="images/avatar@2x.png" alt="">
          <div class="content">
            <time>18-05-2018 12:30</time>
            <p>Hackathon is go!
              <span class="hashtag">#hackathon</span>
            </p>
          </div>
          <img src="images/icon-video.svg" alt="" class="icon">
        </footer>
      </article>
      <article>
        <header class="sound">
          <img src="images/soundwave@2x.png" alt="">
        </header>
        <footer>
          <img src="images/avatar@2x.png" alt="">
          <div class="content">
            <time>18-05-2018 12:20</time>
            <p>Note to self
              <span class="hashtag">#self</span>
              <span class="hashtag">#note</span>
            </p>
          </div>
          <img src="images/icon-audio.svg" alt="" class="icon">
        </footer>
      </article>
    </div>
  </main>
</section>